.dockerignore
.editorconfig
.git
.github
.gitignore
.nvmrc
.prettierignore
.prettierrc
commitlint.config.mjs
compose*.yaml
docs
lefthook.yaml
node_modules
server/.env*
server/.gitignore
server/dist
server/Dockerfile*
server/eslint.config.mjs
server/jest.config.mjs
server/node_modules
server/src/generated
server/test
www/.gitignore
www/.next
www/Dockerfile*
www/eslint.config.mjs
www/node_modules
