.dockerignore
.editorconfig
.git
.github
.gitignore
.nvmrc
.prettierignore
.prettierrc
commitlint.config.mjs
compose*.yaml
docs
lefthook.yml
node_modules
server/.env*
server/.gitignore
server/dist
server/Dockerfile*
server/node_modules
server/src/generated
server/test
www/.gitignore
www/node_modules
