{
  "overrides": [
    {
      "files": "server/**/*",
      "options": {
        "singleQuote": true,
        "trailingComma": "all"
      }
    },
    {
      "files": "www/**/*",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"],
        "tailwindFunctions": ["cn", "cva"]
      }
    }
  ]
}
