openapi: 3.0.4
info:
  title: keitaito.net API
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://keitaito.net/api

paths:
  /activities:
    get:
      summary: List all activities
      description: Retrieve a list of all activities
      operationId: activities_list
      tags:
        - Activities
      security:
        - OAuth2:
            - api/activities.read
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Activity"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: Create a new activity
      description: Create a new activity with the provided details
      operationId: activities_create
      tags:
        - Activities
      security:
        - OAuth2:
            - api/activities.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - date
                - description
              properties:
                title:
                  type: string
                  description: Title of the activity
                  example: New Project Launch
                date:
                  type: string
                  description: Date of the activity
                  example: 2024-01
                description:
                  type: string
                  description: Detailed description of the activity
                  example: Launched a new portfolio website using Next.js and AWS
      responses:
        "201":
          description: Activity created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /activities/{id}:
    get:
      summary: Get an activity
      description: Retrieve a single activity by ID
      operationId: activities_get
      tags:
        - Activities
      security:
        - OAuth2:
            - api/activities.read
      parameters:
        - $ref: "#/components/parameters/ActivityId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Activity not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: Update an activity
      description: Update an existing activity by ID
      operationId: activities_update
      tags:
        - Activities
      security:
        - OAuth2:
            - api/activities.write
      parameters:
        - $ref: "#/components/parameters/ActivityId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - date
                - description
              properties:
                title:
                  type: string
                  description: Title of the activity
                  example: Updated Project Launch
                date:
                  type: string
                  description: Date of the activity
                  example: 2024-01
                description:
                  type: string
                  description: Detailed description of the activity
                  example: Updated the portfolio website with new features
      responses:
        "200":
          description: Activity updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Activity"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Activity not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: Delete an activity
      description: Delete an existing activity by ID
      operationId: activities_delete
      tags:
        - Activities
      security:
        - OAuth2:
            - api/activities.write
      parameters:
        - $ref: "#/components/parameters/ActivityId"
      responses:
        "204":
          description: Activity deleted successfully
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Activity not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /skills:
    get:
      summary: List all skills
      description: Retrieve a list of all skills
      operationId: skills_list
      tags:
        - Skills
      security:
        - OAuth2:
            - api/skills.read
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Skill"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: Create a new skill
      description: Create a new skill with the provided details
      operationId: skills_create
      tags:
        - Skills
      security:
        - OAuth2:
            - api/skills.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - icon_url
              properties:
                name:
                  type: string
                  description: Name of the skill
                  example: Go
                icon_url:
                  type: string
                  description: URL to the skill icon
                  example: https://example.com/icons/go.png
      responses:
        "201":
          description: Skill created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /skills/{id}:
    get:
      summary: Get a skill
      description: Retrieve a single skill by ID
      operationId: skills_get
      tags:
        - Skills
      security:
        - OAuth2:
            - api/skills.read
      parameters:
        - $ref: "#/components/parameters/SkillId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Skill not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: Update a skill
      description: Update an existing skill by ID
      operationId: skills_update
      tags:
        - Skills
      security:
        - OAuth2:
            - api/skills.write
      parameters:
        - $ref: "#/components/parameters/SkillId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - icon_url
              properties:
                name:
                  type: string
                  description: Name of the skill
                  example: Go
                icon_url:
                  type: string
                  description: URL to the skill icon
                  example: https://example.com/icons/go-updated.png
      responses:
        "200":
          description: Skill updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Skill not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: Delete a skill
      description: Delete an existing skill by ID
      operationId: skills_delete
      tags:
        - Skills
      security:
        - OAuth2:
            - api/skills.write
      parameters:
        - $ref: "#/components/parameters/SkillId"
      responses:
        "204":
          description: Skill deleted successfully
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Skill not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /works:
    get:
      summary: List all works
      description: Retrieve a list of all works
      operationId: works_list
      tags:
        - Works
      security:
        - OAuth2:
            - api/works.read
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Work"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: Create a new work
      description: Create a new work with the provided details
      operationId: works_create
      tags:
        - Works
      security:
        - OAuth2:
            - api/works.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - slug
                - content
                - thumbnail
              properties:
                title:
                  type: string
                  description: Title of the work
                  example: Portfolio Website
                slug:
                  type: string
                  description: URL-friendly slug for the work
                  example: portfolio-website
                content:
                  type: string
                  description: Content of the work
                  example: A personal portfolio website built with Next.js and AWS
                thumbnail:
                  type: string
                  description: Thumbnail URL for the work
                  example: https://example.com/thumbnails/portfolio.png
      responses:
        "201":
          description: Work created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Work"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /works/{id}:
    get:
      summary: Get a work
      description: Retrieve a single work by ID
      operationId: works_get
      tags:
        - Works
      security:
        - OAuth2:
            - api/works.read
      parameters:
        - $ref: "#/components/parameters/WorkId"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Work"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Work not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: Update a work
      description: Update an existing work by ID
      operationId: works_update
      tags:
        - Works
      security:
        - OAuth2:
            - api/works.write
      parameters:
        - $ref: "#/components/parameters/WorkId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - slug
                - content
                - thumbnail
              properties:
                title:
                  type: string
                  description: Title of the work
                  example: Updated Portfolio Website
                slug:
                  type: string
                  description: URL-friendly slug for the work
                  example: portfolio-website
                content:
                  type: string
                  description: Content of the work
                  example: Updated portfolio website with new features
                thumbnail:
                  type: string
                  description: Thumbnail URL for the work
                  example: https://example.com/thumbnails/portfolio-updated.png
      responses:
        "200":
          description: Work updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Work"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Work not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: Delete a work
      description: Delete an existing work by ID
      operationId: works_delete
      tags:
        - Works
      security:
        - OAuth2:
            - api/works.write
      parameters:
        - $ref: "#/components/parameters/WorkId"
      responses:
        "204":
          description: Work deleted successfully
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Work not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /profile:
    get:
      summary: Get profile
      description: Retrieve the profile
      operationId: profile_get
      tags:
        - Profile
      security:
        - OAuth2:
            - api/profile.read
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: Update profile
      description: Create or update the profile (upsert)
      operationId: profile_update
      tags:
        - Profile
      security:
        - OAuth2:
            - api/profile.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - birthday
                - location
                - school
                - image_url
                - x
                - github
                - zenn
                - qiita
              properties:
                name:
                  type: string
                  description: Name
                  example: Keita Ito
                birthday:
                  type: string
                  format: date
                  description: Birthday (ISO 8601)
                  example: "2004-07-09"
                location:
                  type: string
                  description: Location
                  example: Tokyo
                school:
                  type: string
                  description: School
                  example: University of Tokyo
                image_url:
                  type: string
                  format: uri
                  description: Image URL
                  example: https://example.com/image.png
                x:
                  type: string
                  format: uri
                  description: X URL
                  example: https://x.com/keitaito
                github:
                  type: string
                  format: uri
                  description: GitHub URL
                  example: https://github.com/keitaito
                zenn:
                  type: string
                  format: uri
                  description: Zenn URL
                  example: https://zenn.dev/keitaito
                qiita:
                  type: string
                  format: uri
                  description: Qiita URL
                  example: https://qiita.com/keitaito
      responses:
        "200":
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /contact:
    get:
      summary: Get contact
      description: Retrieve the contact information
      operationId: contact_get
      tags:
        - Contact
      security:
        - OAuth2:
            - api/contact.read
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: Update contact
      description: Create or update the contact information (upsert)
      operationId: contact_update
      tags:
        - Contact
      security:
        - OAuth2:
            - api/contact.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - x
              properties:
                email:
                  type: string
                  format: email
                  description: Email address
                  example: johndoe@example.com
                x:
                  type: string
                  description: X (Twitter) username
                  example: johndoe
      responses:
        "200":
          description: Contact updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /articles:
    get:
      summary: List cached articles
      description: Retrieve a list of cached articles from Zenn and Qiita
      operationId: articles_list
      tags:
        - Articles
      security:
        - OAuth2:
            - api/articles.read
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Article"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /articles/collect:
    post:
      summary: Manually trigger articles collection
      description: Fetch latest articles from Zenn and Qiita and update the cache
      operationId: articles_collect
      tags:
        - Articles
      security:
        - OAuth2:
            - api/articles.write
      responses:
        "204":
          description: Articles collected successfully
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /uploads/presign:
    post:
      summary: Generate a presigned URL for file upload
      description: Generate a presigned PUT URL for uploading a file directly to S3
      operationId: uploads_presign
      tags:
        - Uploads
      security:
        - OAuth2:
            - api/uploads.write
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
                - content_type
              properties:
                filename:
                  type: string
                  description: Name of the file to upload
                  example: photo.png
                content_type:
                  type: string
                  description: MIME type of the file
                  example: image/png
      responses:
        "200":
          description: Presigned URL generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresignResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2:
      type: oauth2
      description:
        Cognito OAuth2 認証。authorizationCode フローはクライアント用、clientCredentials
        フローはサーバーサイド用。
      flows:
        authorizationCode:
          authorizationUrl: https://example.com/oauth2/authorize
          tokenUrl: https://example.com/oauth2/token
          scopes:
            api/activities.read: アクティビティの読み取りアクセス
            api/activities.write: アクティビティの書き込みアクセス
            api/skills.read: スキルの読み取りアクセス
            api/skills.write: スキルの書き込みアクセス
            api/profile.read: プロフィールの読み取りアクセス
            api/profile.write: プロフィールの書き込みアクセス
            api/works.read: ワークスの読み取りアクセス
            api/works.write: ワークスの書き込みアクセス
            api/contact.read: コンタクトの読み取りアクセス
            api/contact.write: コンタクトの書き込みアクセス
            api/articles.read: 記事の読み取りアクセス
            api/articles.write: 記事の書き込みアクセス
            api/uploads.write: アップロードの書き込みアクセス
        clientCredentials:
          tokenUrl: https://example.com/oauth2/token
          scopes:
            api/activities.read: アクティビティの読み取りアクセス（サーバーサイド用）
            api/skills.read: スキルの読み取りアクセス（サーバーサイド用）
            api/profile.read: プロフィールの読み取りアクセス（サーバーサイド用）
            api/works.read: ワークスの読み取りアクセス（サーバーサイド用）
            api/contact.read: コンタクトの読み取りアクセス（サーバーサイド用）
            api/articles.read: 記事の読み取りアクセス（サーバーサイド用）

  parameters:
    ActivityId:
      name: id
      in: path
      required: true
      description: Activity UUID
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000

    SkillId:
      name: id
      in: path
      required: true
      description: Skill UUID
      schema:
        type: string
        format: uuid
        example: 660e8400-e29b-41d4-a716-446655440000

    WorkId:
      name: id
      in: path
      required: true
      description: Work UUID
      schema:
        type: string
        format: uuid
        example: 770e8400-e29b-41d4-a716-446655440000

  schemas:
    Activity:
      type: object
      required:
        - id
        - title
        - date
        - description
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the activity
          example: 550e8400-e29b-41d4-a716-446655440000
        title:
          type: string
          description: Title of the activity
          example: New Project Launch
        date:
          type: string
          description: Date of the activity
          example: 2024-01
        description:
          type: string
          description: Detailed description of the activity
          example: Launched a new portfolio website using Next.js and AWS

    Skill:
      type: object
      required:
        - id
        - name
        - icon_url
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the skill
          example: 660e8400-e29b-41d4-a716-446655440000
        name:
          type: string
          description: Name of the skill
          example: Go
        icon_url:
          type: string
          description: URL to the skill icon
          example: https://example.com/icons/go.png

    Work:
      type: object
      required:
        - id
        - title
        - slug
        - content
        - thumbnail
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the work
          example: 770e8400-e29b-41d4-a716-446655440000
        title:
          type: string
          description: Title of the work
          example: Portfolio Website
        slug:
          type: string
          description: URL-friendly slug for the work
          example: portfolio-website
        content:
          type: string
          description: Content of the work
          example: A personal portfolio website built with Next.js and AWS
        thumbnail:
          type: string
          description: Thumbnail URL for the work
          example: https://example.com/thumbnails/portfolio.png

    Profile:
      type: object
      required:
        - name
        - birthday
        - location
        - school
        - image_url
        - x
        - github
        - zenn
        - qiita
      properties:
        name:
          type: string
          description: Name
          example: Keita Ito
        birthday:
          type: string
          format: date
          description: Birthday (ISO 8601)
          example: "2004-07-09"
        location:
          type: string
          description: Location
          example: Tokyo
        school:
          type: string
          description: School
          example: University of Tokyo
        image_url:
          type: string
          format: uri
          description: Image URL
          example: https://example.com/image.png
        x:
          type: string
          format: uri
          description: X URL
          example: https://x.com/keitaito
        github:
          type: string
          format: uri
          description: GitHub URL
          example: https://github.com/keitaito
        zenn:
          type: string
          format: uri
          description: Zenn URL
          example: https://zenn.dev/keitaito
        qiita:
          type: string
          format: uri
          description: Qiita URL
          example: https://qiita.com/keitaito

    Contact:
      type: object
      required:
        - email
        - x
      properties:
        email:
          type: string
          format: email
          description: Email address
          example: johndoe@example.com
        x:
          type: string
          description: X (Twitter) username
          example: johndoe

    Article:
      type: object
      required:
        - title
        - url
        - liked_count
        - published_at
      properties:
        title:
          type: string
          description: Title of the article
          example: Building a portfolio with Next.js
        url:
          type: string
          format: uri
          description: URL of the article
          example: https://zenn.dev/kk79it/articles/example
        liked_count:
          type: integer
          description: Number of likes
          example: 10
        published_at:
          type: string
          format: date-time
          description: Publication date
          example: "2025-01-01T00:00:00+09:00"
        source:
          type: string
          nullable: true
          enum:
            - zenn
            - qiita
          description: Source platform
          example: zenn

    PresignResponse:
      type: object
      required:
        - upload_url
        - download_url
        - key
      properties:
        upload_url:
          type: string
          description: Presigned PUT URL for uploading the file
          example: https://s3.amazonaws.com/bucket/uuid/photo.png?...
        download_url:
          type: string
          description: Presigned GET URL for previewing the uploaded file
          example: https://s3.amazonaws.com/bucket/uuid/photo.png?...
        key:
          type: string
          description: S3 object key for the uploaded file
          example: 550e8400-e29b-41d4-a716-446655440000/photo.png

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Error message describing what went wrong
          example: "Activity not found (id: 550e8400-e29b-41d4-a716-446655440000)"
